*.cache
*.csproj.user
*.orig
*.resharper
*.resharper.user
*.ReSharper.user
*.suo
.idea
.svn
_build.txt
_ReSharper.*
bin
obj
Build/*
Build/Bin*
*currentBuild.proj
currentBuild.proj
gum.bat
redirsGenerated.txt
/packages/
/sys$command
Gmc/PageGenerator/Product.AssemblyInfo.cs
Gmc/CampaignManager/WebSite/App_Data/Previews_Cache
*.DotSettings.user
Gmc/Fido/Samples/SurveyDataServiceClient/sfwsc.*
*.ncrunchsolution.user
Gmc/Fido/Samples/HybridMailSolutionDev/Inspire Storefront/
Gmc/WebProof/WebSite/App_Data/Log/